Package: gtkmon
Version: 0.9
Installed-Size: 206
Maintainer: Santiago Pereyra <santiagopereyra.95@gmail.com>
Priority: optional
Architecture: all
Depends: python-gtk2, dvb-apps, python-vte, python-gobject, python-gst0.10, libcanberra-gtk-module
Description: interfaz grafica para Femon (dvb-apps)
 Gtkmon es una interfáz gráfica del programa Femon (del paquete dvb-apps) hecha en python/gtk pensada para facilitar el acceso y la lectura del mismo, además cuanta con la capacidad de reproducir en forma de audio el nivel de señal que llega al receptor (para ALSA/pulseaudio), facilitando la instalación de antenas.



